.custom-btn{
    padding: 15px 45px;
    border-radius: 0;
    background: none;
    border: 1px solid silver;
    cursor: pointer;
    color: white;
    background: black;
    transition: 0.6s all ease;
    outline: none;
   
    &:hover{
        background: rgba(255, 255, 255, 0.719);
        color: black;
    }

    &.google-btn{
        background: rgb(117, 189, 248);
        &:hover{
            background: white;
            color: black;
        }
    }
    &.inverce{
        background: white;
        color: black;
        border: 1px solid black;

        &:hover{
            background: black;
            color: white;
        }
    }
}