.cart-icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    cursor: pointer;
    position: relative;

    .icon{
        width: 32px;
        height: 32px;
    }

    span{
        position: absolute;
        bottom: 0;
    }
}