.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-header{
        display: flex;
        width: 60%;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        
        .header-block{
            width: 15%;
            text-align: center;
        }
    }
    &-main{
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 10px 0px;
        max-height: 400px;
        overflow-y: scroll;
    }
    .total-price{
        padding-top: 5px;
        border-top: 2px solid black;
        width: 60%;
        font-size: 25px;
    }
}