.checkout-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    .item-block{
        width: 15%;
        box-sizing: border-box;
        text-align: center;

        img{
            width: 100%;
        }

        .remove{
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.1s ease-in;
        }
        .arrow{
            font-size: 20px;
            cursor: pointer;
            transition: all 0.1s ease-in;
        }
        .remove:hover{
            opacity: 0.8;
        }
    }
    .item-quantity{
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}