.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .cart-img{
        img{
            width: 70px;
        }
    }
    .cart-info{
        width: 100px;
        text-align: left;
    }
}